    <input type="text" id="notes-search-bar">
    <button onclick="refreshTopic()"><i class="far fa-edit"></i></button>

<br>

<div id="page-title"></div>
<%= render 'form', note: @note %>

<div id="notes-main"></div>

<br>
<p id="notice"><%= notice %></p>

<script>
  var notesMain = document.querySelector("#notes-main")

  var id = "<%= @notes.map {|note| note.id}.join(",") %>"
  var body = "<%= @notes.map {|note| note.body}.join(",") %>"

  var ids = id.split(",");
  var bodies = body.split(",");

  var notes = []
  for (var i = 0; i<ids.length; i++){
    var note = {
      id: ids[i],
      body: bodies[i],
    };
    notes.push(note)
  }

  function loadItems(input) {
    notesMain.innerHTML = "";
    input.forEach((entry)=>{
      notesMain.innerHTML += `
        <div class="notes-body">${entry.body} ...<a href="/notes/${entry.id}" rel="nofollow" data-method="delete" id="delete-note-${entry.id})">Delete</a></div>
      `;
    });
  }


  function deleteNote(id){
    for (var i=0; i<notes.length; i++){
      if ( notes[i].id == id) {
        notes.splice(i, 1);
      }
    }
  }

  loadItems(notes.reverse());

  var search = document.getElementById("notes-search-bar");
  search.addEventListener('keyup', function() {
    searchItems(search.value)
  });

  function searchItems(input) {
    if (input == "") {
      loadItems(notes.reverse());
    } else {
      var query = input.toLowerCase();
      var filtered = notes.filter((note) => {
        return note.body.toLowerCase().includes(query)
      })
      loadItems(filtered.reverse());
    }
  };

  function refreshTopic(){
    loadItems(notes);
    document.querySelector("#page-title").innerHTML = `${sessionStorage.getItem("page")}`;
  }
</script>
