<button id="toggle">Hide</button>
<div id="music-player"></div>

<div id="page-holder">
  <canvas id="timer"></canvas>
  <div style="display: flex">
  <iframe src="/items" frameborder="0" width="100%" height="650px" id="lowerFrame"></iframe>
  <!-- iframe src="/notes" frameborder="0" width="50%" height="650px" id="lowerFrameNotes"></iframe>
  <button id="collapseNotes">...</button -->
  </div>
</div>
