<div id="main-container"><br><br></div>
<script>
  var n = "<%= @items.map {|item| item.name}.join(",") %>";
  var names = n.split(",");
  // console.log(names);
  var search = document.getElementById("search-bar");
  var main = document.getElementById("main-container");

  search.addEventListener('keyup', function() {
    searchItems(search.value)
  });
  function searchItems(input) {
    if (input !== "") {
      var query = input.toLowerCase();
      var filtered = names.filter((name) => {
        return name.toLowerCase().includes(query)
      })
      main.innerHTML = `<br><br>`;
      for (var i=0; i<filtered.length; i++){
        main.innerHTML += `<div>${filtered[i]}</div>`;
      }
      console.log(filtered)
    } else {
      // loadItems(foods)
    }
  };

</script>
