<h1 id="item-headline">Items</h1>
<%# render _form for new items %>
<div class="container">
<% @items.each do |item| %>
  <div class="category-icon"><%= ItemPresenter.new(item).category %></div>
  <div class="item-name"><%= link_to item.name, @item %></div>
<% end %>
</div>
