<%= render 'layouts/nav' %>

<br>
<h1>Music</h1>

<%= render '/music/music_form',
      music: @music
      %>

<div>
  Now Playing: <div id="playing-name"></div>
</div>

<% @music_items.each do |mi| %>
  <button onClick="update('<%= mi.url %>')"> <%= mi.name %> </button>
<% end %>

<script>
  function update(link){
      nowPlaying = localStorage.setItem("now-playing", link);
      document.getElementById("music-player").innerHTML = '<iframe src="' + localStorage.getItem("now-playing") + '" frameborder="0" allowfullscreen draggable="true"></iframe>';
      document.getElementById("playing-name").innerHTML = localStorage.getItem("now-playing");
  }
</script>
