<%= render 'layouts/nav' %>

<br>
<h1>Music</h1>

<%= render '/music/music_form', music: @music %>

<div>
  Now Playing: <div id="playing-name"></div>
</div>

<% @music_items.each do |mi| %>
  <button onclick="update('<%= mi.url %>')"> <%= mi.name %> </button>
<% end %>

<script>
  function update(link){
      localStorage.setItem("now-playing", link);
      document.getElementById("music-player").innerHTML = '<iframe src="' + link + '" frameborder="0" allowfullscreen></iframe>';
  }
</script>
