.container {
  display: grid;
  grid-template-columns: 10% 10% 60% 20%;
  position: relative;
  left: 20px;
  margin: 0 0 0 1em;
}

.main.container {
  position: relative;
  top: 3em;
}

#item-headline {
  font-family: 'Pacifico', cursive;
  margin: 0 0 0 0.5em;
}

img, .add-item-button {
  height: 65px;
  width: 165px;
  border: transparent 2px solid;
  position: relative;
  top: 17px;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
}

.add-item-button {
  color: blue;
  background: white;

  i {
    font-size: 4em;
  }
  &:hover {
    color: white;
    background: blue;
    cursor: pointer;
    transition: color 0.3s;
    transition: background 0.3s;
  }
}


img:hover {
  border: red 2px solid;
}

.item-show-button, #item_name {
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  border: 3px solid blue;
  color: blue;
  background: white;
  font-size: 1em;
}

#item_name {
  position: relative;
  top: 86px;
  left: 165px;
}

.item-show-button:hover{
  background: blue;
  color: white;
  cursor: pointer;
  transition: color 0.3s;
  transition: background 0.3s;
}
