.container {
  display: grid;
  grid-template-columns: 2em 4em 16em;
  margin: 0 0 0 1em;
}

#item-headline {
  font-family: 'Pacifico', cursive;
  margin: 0 0 0 0.5em;
}

.item-name a{
  text-decoration: none;
}

.item-name a:hover{
  text-decoration: underline;
}

.item-image img {
  height: 80px;
  width: 80px;
}

.image-icon:hover {
  color: blue;
}

.image-icon:hover:after {
  font-size: 0.4em;
  content: 'edit \a';
}
