// Place all the styles related to the items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$img: 100px;


.container {
  display: grid;
  grid-template-columns: 2em 18em;
  margin: 0 0 0 1em;
}

#item-headline {
  font-family: 'Pacifico', cursive;
  margin: 0 0 0 0.5em;
}

.item-name a{
  text-decoration: none;
}

.item-name a:hover{
  text-decoration: underline;
}

#wikipedia-frame {
  width: 100%;
  height: 200px;
}


//// SHOW

.image-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  border: 1px red solid;
  height: 60%;
  width: 100%;
  grid-gap: 5px;
}

img.show-thumbnail {
  width: 100px;
  height: 100px;
}

.videos-container {
  display: block;
}

#div1 {
  width: 400px;
  height: 400px;
  padding: 10px;
  border: 1px solid #aaaaaa;
}

#div1 img {
  width: 400px;
  height: 400px;
}


////// NEw

#icons-array {
  display: flex;
  width: 100%;

  div {
    width: 100px;
  }
}

input#item_name {
  font-size: 1em;
  border: transparent;
  width: 80%;
  margin: 0 10%;
}

input#item_name::placeholder {
  color: blue;
  font-style: italic;
  text-indent: 20px;
  font-size: 0.8em;
}
