// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#welcome-background{
  background: gold;
}

#welcome-greeting {
  font-family: 'Pacifico', cursive;
}

#welcome-text {
  font-family: 'Open Sans', sans-serif;
}
