<ul>

  <li>
    <%# link_to '<i class="fas fa-tv"></i> Random'.html_safe, random_documentary, target:"_blank" %>
  </li>

  <li>
    <%= link_to '<i class="fa fa-music" aria-hidden="true"></i> Music'.html_safe, "#" %>
  </li>

  <li>
    <%=link_to "Watch List", "https://www.youtube.com/playlist?list=WL", target:"_blank" %>
  </li>

</ul>
