<ul id="nav-links">

  <li>
    <%= link_to '<i class="fas fa-bars"></i>'.html_safe, items_path %>
  </li>

  <li>
    <%= link_to '<i class="fa fa-plus-square" aria-hidden="true"></i>'.html_safe, new_item_path %>
  </li>

  <li>
    <%# link_to '<i class="fas fa-tv"></i> Random'.html_safe, random_documentary, target:"_blank" %>
  </li>

  <li>
    <%= link_to '<i class="fa fa-music" aria-hidden="true"></i>'.html_safe, "#" %>
    <div id="music">music</div>
  </li>

  <li>
    <%=link_to '<i class="fab fa-youtube"></i>'.html_safe, "https://www.youtube.com/playlist?list=WL", target:"_blank" %>
    <div id="youtube">watch-now</div>
  </li>



</ul>
