<ul id="nav-links">

  <li>
    <input type="text" id="search-bar">
  </li>

  <li>
    <%= link_to '<i class="fas fa-bars"></i>'.html_safe, items_path %>
  </li>

  <li>
    <%= link_to '<i class="fas fa-tv"></i>'.html_safe, videos_path %>
  </li>

  <li>
    <%= link_to '<i class="fa fa-music" aria-hidden="true"></i>'.html_safe, music_index_path %>
  </li>

  <li>
    <%= link_to '<i class="fab fa-github"></i>'.html_safe, 'https://github.com/geoffreyadebonojo/big_list/projects/1', target:"_blank" %>
  </li>

  <li>
  </li>


</ul>

<script>

</script>
